.wrapper {
    background-color: white;
    padding: 30px 70px;
}

/* header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Aclonica';
}

.nav li a {
    text-decoration: none;
}

.vertical_line {
    width: 1px;
    background-color: black;
    height: 100%;
}

.top-icon {
    display: flex;
    gap: 10px;
}


/* body */
.banner {
    background-color: rgba(193, 220, 220, 1);
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.flex_column_banner {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 40px;
}

.flex__row {
    display: flex;
}



.flex__row__space_between {
    display: flex;
    justify-content: space-between;

}

.text__banner {
    font-size: 64px;
    font-weight: 800;
}

.text__banner--number {
    font-weight: 800;
    font-size: 32px;

}

.text__banner--text_under_number {
    font-weight: 800;
    font-size: 18px;
}

.p__format {
    margin: 0px;
    padding: 0px;
}

.div_input {
    width: 100%;
    position: relative;
}

.input_banner {
    height: 40px;
    width: 100%;
    border-radius: 12px;
    position: absolute;
}

.find_icon {
    position: absolute;
    right: 0;
    background-color: rgba(193, 220, 220, 1);
    padding: 8px;
    margin: 5px;
    border-radius: 12px;
}

body {
    margin: 0 auto;
    background-color: lightgrey;

}

/* menuitem */
.menu_item {
    display: flex;
    width: 100%;

    gap: 100px;
    margin-top: 40px;
}

.best_sell {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;

}

.p__format--size32 {
    font-size: 32px;
    font-weight: 800px;
    margin: 0;
    padding: 0;
}

.flex_wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 200px;
}

/* about */
.about_us{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.about_us--flex_column_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.flex__row__space_around {
    display: flex;
    gap: 20px;

}
.p__size18{
    font-size: 18px;

}
.about_us__p--desctext{
    color: rgba(30, 30, 30, 0.5);
    
}
.p__weight{
    font-weight: 800;
}
.about_us__div_image{
    background-color:rgba(193, 220, 220, 1);
    border-radius: 50%;
    width: 96px;
    height: 96px;
    position: relative;
}
.about_us__image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



/* categories */
.categories{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top:80px;
}
.categories__back_ground{
    background-color:rgba(193, 220, 220, 1);
    width: 100%;
    height: 800px;
    margin-top: 100px;
}
.flex__row__space_between--categories {
    display: flex;
    justify-content: space-between;
    padding: 30px;   
}
.image_text__move_in{
    transform: translateY(-70px);
}

/* sayabout */

.say_about{
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.width--500{
    width: 500px;
}
.scroll_bar{
    /* position: relative; */
    overflow-x: scroll;
    overflow-y: hidden;
    vertical-align: baseline;
}


.flex__column--say_about{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 300px;
    background-color:rgba(193, 220, 220, 1);
    flex-shrink: 0;
    
   
}
.flex__row--say_about{
    display: flex;
    padding-bottom: 30px;

}

.flex__row_container--say_about{
    display: flex;
    padding-bottom: 10px;
    gap: 5px;
   
}
.flex__row_space_between--say_about{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* margin: 30px 50px 0px 0px; */
    padding: 50px
}
.padding_top_right_left{
    padding: 20px 40px 0px;
}

/* footer */
.footer{
    margin-top: 50px;
    background-color:rgba(193, 220, 220, 1);
}


















ul {
    text-align: center;
}

/* #content {
    overflow: auto;
} */

/* .column1,
.column2,
.column3 {
    width: 31.3%;
    float: left;
}

.column1 {
    float: left;
}

.column2 {
    margin: 0% 3%;
}

.column3 {
    float: right;
    margin: 0%;
} */


li {
    display: inline-block;
    padding: 0.5em;
}